.card {
  box-sizing: border-box;
  background: $bg-card;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: grid;
  align-items: center;

  &_size {
    &_large {
      min-width: 220px;
      max-width: 220px;
      padding: 15px 22px 32px;
      grid-template: repeat(4, min-content) / repeat(2, 1fr);
      grid-template-areas:
        "city-name city-name"
        "date date"
        "temperature-place icon-weather"
        "delta-temperature weather";
      column-gap: 5px;
    }

    &_small {
      max-width: 250px;
      padding: 20px 21px 44px 20px;
      grid-template-areas:
        "date date"
        "temperature-place icon-weather";
      row-gap: 24px;
    }
  }

  &__icon {
    &_type {
      &_weather {
        margin-top: 20px;
        grid-area: icon-weather;
        @include background-setting(url(../image/icon_weather.svg), contain);
        width: 59px;
        height: 42px;
      }
    }
    &_size {
      &_small {
        width: 81px;
        height: 43px;
      }
    }
  }

  &__city-name {
    grid-area: city-name;
    @include font-setting(400, 18px, 21px, $text-color);
    letter-spacing: 0.05em;
  }

  &__temperature-value {
    grid-area: temperature-place;
    @include font-setting(300, 48px, 59px, $text-color);
    margin-top: 20px;
    &_size {
      &_small {
        @include font-setting(400, 64px, 76px, $text-color);
      }
    }
  }

  &__caption {
    &_type {
      &_weather {
        grid-area: weather;
        @include font-setting(400, 14px, 90%, $text-color);
      }
      &_delta-temperature {
        grid-area: delta-temperature;
        @include font-setting(700, 16px, 20px, $text-color);
        letter-spacing: 0.02em;
        opacity: 0.7;
      }
    }
  }

  &__date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    @include font-setting(400, 18px, 22px, $text-color);
    &_weight {
      &_light {
        font-weight: 300;
      }
    }
  }
}
