.card {
  box-sizing: border-box;
  background: $bg-card;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: grid;
  align-items: center;

  &_size {
    &_large {
      min-width: 220px;
      max-width: 220px;
      padding: 15px 22px 32px;
      grid-template: repeat(4, min-content) / repeat(2, 1fr);
      grid-template-areas:
        "city-name city-name"
        "date date"
        "temperature-place icon-weather"
        "delta-temperature weather";
      column-gap: 5px;
    }

    &_small {
      min-width: 170px;
      max-width: 170px;
      padding: 15px 20px 21px;
      grid-template: repeat(3, min-content) / repeat(2, 1fr);
      grid-template-areas:
        "date date"
        "temperature-place icon-weather"
        "delta-temperature delta-temperature";

      @media screen and (max-width: 768px) {
        min-width: 220px;
        max-width: 220px;
      }
    }
  }

  &__icon {
    &_type {
      &_weather {
        grid-area: icon-weather;
        @include background-setting(url(../image/icon_weather.svg), contain);
        margin-top: 20px;
        width: 59px;
        height: 42px;
      }
    }
    &_size {
      &_small {
        margin-top: 15px;
        width: 41px;
        height: 44px;

        @media screen and (max-width: 768px) {
          margin-top: 20px;
          width: 59px;
          height: 42px;
        }
      }
    }
  }

  &__city-name {
    grid-area: city-name;
    @include font-setting(400, 18px, 21px, $text-color);
    letter-spacing: 0.05em;
  }

  &__temperature-value {
    grid-area: temperature-place;
    @include font-setting(300, 48px, 59px, $text-color);
    margin-top: 20px;
    &_size {
      &_small {
        @include font-setting(400, 36px, 44px, $text-color);
        margin-top: 15px;
        @media screen and (max-width: 768px) {
          @include font-setting(300, 48px, 59px, $text-color);
          margin-top: 20px;
        }
      }
    }
  }

  &__caption {
    &_type {
      &_weather {
        grid-area: weather;
        @include font-setting(400, 14px, 90%, $text-color);
      }
      &_delta-temperature {
        grid-area: delta-temperature;
        font-family: "Roboto";
        @include font-setting(700, 16px, 19px, $text-color);
        letter-spacing: 0.02em;
        opacity: 0.7;
      }
    }
    &_font-size {
      &_small {
        @include font-setting(700, 14px, 16px, $text-color);
      }
    }
  }

  &__date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    @include font-setting(400, 18px, 22px, $text-color);

    &_position {
      &_small-card {
        @include font-setting(400, 16px, 19px, $text-color);
      }
    }

    &_weight {
      &_light {
        font-weight: 300;
      }
    }
  }
}
