.card {
  box-sizing: border-box;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, 1fr);
  align-items: center;

  &_size {
    &_large {
      background: rgba(191, 187, 182, 0.4);
      max-width: 450px;
      padding: 30px 34px 31px 20px;
      grid-template-areas:
        "container-place ."
        "temperature-place container-weather";
      column-gap: 16px;
      row-gap: 64px;
    }

    &_small {
      background: rgba(172, 177, 180, 0.4);
      max-width: 250px;
      padding: 20px 21px 44px 20px;
      grid-template-areas:
        "date date"
        "temperature-place icon-weather";
      row-gap: 24px;
    }
  }

  &__icon {
    &_type {
      &_geo {
        @include background-setting(url(../image/icon_geo.svg), contain);
        width: 22px;
        height: 27px;
      }
      &_weather {
        grid-area: icon-weather;
        @include background-setting(url(../image/icon_weather.svg), contain);
        width: 124px;
        height: 67px;
      }
    }
    &_size {
      &_small {
        width: 81px;
        height: 43px;
      }
    }
  }

  &__city-name {
    @include font-setting(400, 36px, 43px, $text-color);
  }

  &__temperature-value {
    grid-area: temperature-place;
    @include font-setting(400, 128px, 152px, $text-color);
    &_size {
      &_small {
        @include font-setting(400, 64px, 76px, $text-color);
      }
    }
  }

  &__caption {
    @include font-setting(400, 20px, 24px, $text-color);
  }

  &__date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    @include font-setting(400, 32px, 38px, $text-color);
    &_weight {
      &_light {
        font-weight: 300;
      }
    }
  }

  &__container {
    &_type {
      &_weather {
        grid-area: container-weather;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &_place {
        grid-area: container-place;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
